@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base {

    body {
        @apply font-[Poppins];
    }
    
    li {
        @apply px-2;
        @apply cursor-pointer;
    }
}


@media screen and (min-width: 769px) {
    .type {
        border-right: solid 2px slategrey;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.1em;
        animation:
            type 4s steps(32) 1s 2 forwards,
            blink 0.75s steps(1) infinite;
    }


    @keyframes type {
        to {
            width: 16ch;
        }
    }

    @keyframes blink {
        from {
            border-color: transparent;
        }

        50% {
            border-color: slategrey;
        }

        to {
            border-color: transparent;
        }
    }
}
@media screen and (min-width: 310px) and (max-width: 768px) {
    .type {
        border-right: solid 2px slategrey;
        width: 0;
        overflow: hidden;
        white-space: nowrap;

        animation:
            type 2s steps(19) 1s 2 forwards,
            blink 0.75s steps(1) infinite;
    }


    @keyframes type {
        to {
            width: 14.5ch;
        }
    }

    @keyframes blink {
        from {
            border-color: transparent;
        }

        50% {
            border-color: slategrey;
        }

        to {
            border-color: transparent;
        }
    }
}

.footer-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skill-icon {
    padding: 0 10px;
}